package {{package}}

{{#debug}} // api.mustache {{/debug}}
{{#dump}}{{/dump}}

{{#imports}}import {{import}}
{{/imports}}

import kotlin.collections.List
import kotlin.collections.Map


import com.microsoft.azure.*
import com.microsoft.azure.functions.*
import com.microsoft.azure.functions.annotation.*

import javax.naming.Binding;


{{#operations}}
class {{classname}} {

  val api: {{classname}}Interface = {{#removeApiSuffix}}{{classname}}{{/removeApiSuffix}}Api()

{{#operation}}
  @FunctionName("{{operationId}}")
  {{#isDeprecated}}
  @Deprecated(message = "This function is deprecated.")
  {{/isDeprecated}}
  fun {{operationId}}Function(
    {{#removeEmptyLines}}{{#lambda.indented}}{{>methodParams}}{{/lambda.indented}}{{/removeEmptyLines}}
  ): HttpResponseMessage {
    {{#lambda.indented}}{{#removeEmptyLines}}{{>apiMethodBodyParameters}}{{/removeEmptyLines}}{{/lambda.indented}}
    val response = api.{{operationId}}(request = request {{#vendorExtensions.x-azure-additional-properties}}, {{parameterName}} = {{parameterName}}{{/vendorExtensions.x-azure-additional-properties}}{{#allParams}}{{^isFormParam}}, {{paramName}} = {{paramName}}{{^defaultValue}}{{#required}}!!{{/required}}{{/defaultValue}}{{/isFormParam}}{{/allParams}})

    val builder = request.createResponseBuilder(response.status).body(response.body)
    if(response.contentType != null){
      builder.header("Content-Type",response.contentType)
    }
    response.headers.forEach { builder.header(it.key, it.value) }
    return builder.build()
  }
{{/operation}}
}
{{/operations}}
