package {{package}}
{{#debug}}apiInterface.mustache{{/debug}}

{{#imports}}import {{import}}
{{/imports}}
import kotlin.collections.List
import kotlin.collections.Map


import com.microsoft.azure.*
import com.microsoft.azure.functions.*
import com.microsoft.azure.functions.annotation.*


{{#operations}}
{{#genInterfaceImpl}}
class {{#removeApiSuffix}}{{classname}}{{/removeApiSuffix}}Api: {{classname}}Interface {}
{{/genInterfaceImpl}}

interface {{classname}}Interface {
  companion object {
  {{#operation}}{{#allParams}}
    {{#isArray}}
      {{#isEnum}}{{#items}}
        {{>enum_nested}}
      {{/items}}
      {{/isEnum}}
      {{^isEnum}}{{#debug}}Non Enum ignored array parameter named: {{baseName}} {{/debug}}{{/isEnum}}
    {{/isArray}}
    {{^isArray}}
      {{#isEnum}}
      {{#dump}}{{/dump}}
      {{#isDeprecated}}
        @Deprecated(message = "This enum is deprecated.")
      {{/isDeprecated}}
      enum class {{datatypeWithEnum}}(val value: {{^isContainer}}{{dataType}}{{/isContainer}}{{#isContainer}}kotlin.String{{/isContainer}}) {
      {{#allowableValues}}
        {{#enumVars}}
          {{&name}}({{{value}}}){{^-last}},{{/-last}}
        {{/enumVars}}
      {{/allowableValues}}
      }
    {{/isEnum}}
    {{^isEnum}}{{#debug}}Non Enum parameter named: {{baseName}} {{/debug}}{{/isEnum}}
    {{/isArray}}
  {{/allParams}}{{/operation}}
  }

{{#operation}}
  fun {{operationId}}(
    {{#removeEmptyLines}}{{#lambda.indented}}{{>interfaceMethodParams}}{{/lambda.indented}}{{/removeEmptyLines}}
  ): {{#upperFirstLetter}}{{operationId}}{{/upperFirstLetter}}Result {
    throw NotImplementedError()
  }

  data class {{#upperFirstLetter}}{{operationId}}{{/upperFirstLetter}}Result private constructor(
    val status: HttpStatusType,
    val headers: Map<String, String>,
    val body: Any? = null,
    val contentType: String? = null
  ) {
    companion object {
    {{#responses}}
      {{#content}}
        {{# ContentTypeMap }}
      fun respond{{^isDefault}}{{code}}{{/isDefault}}{{^isUnique}}{{contentTypeShortName}}{{/isUnique}}({{#isDefault}}status: HttpStatusType, {{/isDefault}}{{#dataType}}result: {{dataType}}, {{/dataType}}headers: Map<String, String> = mapOf()): {{#upperFirstLetter}}{{operationId}}{{/upperFirstLetter}}Result {
        return {{#upperFirstLetter}}{{operationId}}{{/upperFirstLetter}}Result({{#isDefault}}status{{/isDefault}}{{^isDefault}}status = HttpStatusType.custom({{code}}){{/isDefault}}, headers = headers{{#dataType}}, body = result{{/dataType}}{{#hasContentType}}, contentType = "{{key}}"{{/hasContentType}});
      }
        {{/ContentTypeMap}}
      {{/content}}
      {{^content}}
      fun respond{{^isDefault}}{{code}}{{/isDefault}}({{#isDefault}}status: HttpStatusType, {{/isDefault}}headers: Map<String, String> = mapOf()): {{#upperFirstLetter}}{{operationId}}{{/upperFirstLetter}}Result {
        return {{#upperFirstLetter}}{{operationId}}{{/upperFirstLetter}}Result({{#isDefault}}status{{/isDefault}}{{^isDefault}}status = HttpStatusType.custom({{code}}){{/isDefault}}, headers = headers);
      }
      {{/content}}
   {{/responses}}
    }
  }
{{/operation}}


}
{{/operations}}
