{{#description}}
  /* {{{.}}} */
{{/description}}
{{>modelMutable}} {{#orEMPTY}}{{{name}}}{{/orEMPTY}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = {{#trim1L}}

  {{#isNumeric}}{{#defaultValue}}
    {{#debug}}Numeric with default{{/debug}}
    {{^isPrimitiveType}}
      {{dataType}}({{defaultValue}})
    {{/isPrimitiveType}}
    {{#isPrimitiveType}}
      {{defaultValue}}
    {{/isPrimitiveType}}
  {{/defaultValue}}{{/isNumeric}}
  {{^isNumeric}}

  {{#isUuid}}{{#defaultValue}}
    {{#debug}}uuid with default value{{/debug}}
    {{dataType}}.fromString({{defaultValue}})
  {{/defaultValue}}{{/isUuid}}

  {{#defaultValue}}{{^isUuid}}
  {{#debug}}non uuid, non numeric{{/debug}}
    {{{defaultValue}}}{{#isArray}}.toTypedArray(){{/isArray}} {{! AbstractKotlinCodegen.toDefaultValue creates an "arrayList" instead of an array as default --}}
  {{/isUuid}}{{/defaultValue}}{{/isNumeric}}

  {{^defaultValue}}null{{/defaultValue}}
{{/trim1L}}
