{{#description}}
    /* {{{.}}} */
{{/description}}
    {{>modelMutable}} {{#orEMPTY}}{{{name}}}{{/orEMPTY}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}
