{{#description}}
  /* {{{.}}} */
{{/description}}
{{>modelMutable}} {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? =
{{#trim1L}}
  {{#isNumeric}}{{#defaultValue}}
    {{dataType}}({{defaultValue}})
  {{/defaultValue}}{{/isNumeric}}
  {{^isNumeric}}
    {{{defaultValue}}}
  {{/isNumeric}}
  {{^defaultValue}}null{{/defaultValue}}
{{/trim1L}}
