{{#serializableModel}}
import java.io.Serializable
{{/serializableModel}}
/**
 * {{{description}}}
{{#vars}}
 * @param {{name}} {{{description}}}
{{/vars}}
 */
{{#isDeprecated}}
@Deprecated(message = "This data class is deprecated.")
{{/isDeprecated}}
data class {{classname}}(
{{#requiredVars}}
{{>data_class_req_var}}{{^-last}},
{{/-last}}{{/requiredVars}}{{#hasRequired}}{{#hasOptional}},
{{/hasOptional}}{{/hasRequired}}{{#optionalVars}}{{>data_class_opt_var}}{{^-last}},
{{/-last}}{{/optionalVars}}
) {{^serializableModel}}{{/serializableModel}}{{#serializableModel}}: Serializable {{/serializableModel}}{{#debug}} data class from {{name}}/{{classFilename}}{{/debug}}{{#dump}}{{/dump}}
{{#vendorExtensions.x-has-data-class-body}}
{
{{/vendorExtensions.x-has-data-class-body}}
{{#serializableModel}}
    companion object {
        private const val serialVersionUID: Long = 123
    }
{{/serializableModel}}
{{#hasEnums}}
    {{#vars}}
    {{#isEnum}}
    /**
    * {{{description}}}
    * Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
    */
    enum class {{nameInCamelCase}}(val value: {{#trim1L}}
    {{#isArray}}{{#items}}{{dataType}}{{/items}}{{/isArray}}{{^isArray}}
    {{#isMap}}{{#items}}{{dataType}}{{/items}}{{/isMap}}
    {{^isMap}}{{dataType}}{{/isMap}}{{/isArray}}
    {{/trim1L}}){ {{#debug}}data_class enum{{/debug}}
    {{#allowableValues}}
    {{#enumVars}}
      {{#orEMPTY}}{{&name}}{{/orEMPTY}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}
    }
{{/isEnum}}
{{/vars}}
{{/hasEnums}}
{{#vendorExtensions.x-has-data-class-body}}
}
{{/vendorExtensions.x-has-data-class-body}}
