{{#description}}
  /* {{{.}}} */
{{/description}}
{{>modelMutable}} {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = {{#trim1L}}

  {{#isNumeric}}{{#defaultValue}}
    {{#debug}}Numeric with default{{/debug}}
    {{^isPrimitiveType}}
      {{dataType}}({{defaultValue}})
    {{/isPrimitiveType}}
    {{#isPrimitiveType}}
      {{defaultValue}}
    {{/isPrimitiveType}}
  {{/defaultValue}}{{/isNumeric}}
  {{^isNumeric}}

  {{#isUuid}}{{#defaultValue}}
    {{#debug}}uuid with default value{{/debug}}
    {{dataType}}.fromString({{defaultValue}})
  {{/defaultValue}}{{/isUuid}}

  {{^isUuid}}
  {{#debug}}non non uuid numeric{{/debug}}
    {{{defaultValue}}}
  {{/isUuid}}{{/isNumeric}}
  {{^defaultValue}}null{{/defaultValue}}
{{/trim1L}}
