/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
{{#isDeprecated}}
@Deprecated(message = "This enum is deprecated.")
{{/isDeprecated}}
enum class {{classname}}(val value:
{{^isArray}}{{dataType}}{{/isArray}}
{{#isArray}}{{#items}}{{dataType}}{{/items}}{{/isArray}}
) { {{#debug}}enum_class enum{{/debug}}
{{#allowableValues}}{{#enumVars}}
  {{#orEMPTY}}{{&name}}{{/orEMPTY}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
