{{#debug}}enum.nested.mustache{{/debug}}
{{! for CodegenProperty context}}
/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
{{#isDeprecated}}
@Deprecated(message = "This enum is deprecated.")
{{/isDeprecated}}
enum class {{datatypeWithEnum}}(val value: {{^isContainer}}{{dataType}}{{/isContainer}}{{#isContainer}}kotlin.String{{/isContainer}}) { {{#debug}}for {{baseName}}{{/debug}}
{{#allowableValues}}{{#enumVars}}
    {{&name}}({{{value}}}){{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
