/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
{{#isDeprecated}}
@Deprecated(message = "This enum is deprecated.")
{{/isDeprecated}}
enum class {{classname}}(val value: {{dataType}}) {
{{#allowableValues}}{{#enumVars}}
    {{&name}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
