{{#debug}}interfaceMethodParams.mustache{{/debug}}
rawRequest: HttpRequestMessage<{{#bodyParam}}{{#debug}}bodyParam{{/debug}}{{dataType}}{{/bodyParam}}{{^bodyParam}}{{^formParams.isEmpty}}String{{/formParams.isEmpty}}{{^formParams}}Void{{/formParams}}{{/bodyParam}}>,
{{#vendorExtensions.x-azure-additional-properties}}
{{parameterName}}: {{{parameterType}}},
{{/vendorExtensions.x-azure-additional-properties}}
{{#allParams}}{{^isFormParam}}  {{#trim1L}}{{paramName}}: {{>optionalDataType}},{{/trim1L}}{{/isFormParam}}{{/allParams}}
