{{#debug}}model.mustache{{/debug}}
{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}{{#debug}}imports import{{/debug}}import {{import}}
{{/imports}}

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{>data_class}}{{/isEnum}}
{{/model}}
{{/models}}
