{{! try use datatypeWithEnum first, otherwise dataType }}
{{#trim}}
{{#datatypeWithEnum}}
{{{datatypeWithEnum}}}
{{/datatypeWithEnum}}
{{^datatypeWithEnum}}
{{{dataType}}}
{{/datatypeWithEnum}}
{{/trim}}